.sub-menu h2 {
    margin: 0;
} 
.sub-menu {
	border-top: none;
	font-size: 18px;
}
.figure-container {
	align-items: center;
	margin-top: 20px;
	margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.figure-container img {
	padding: 9px;
	width: 368px;
}
.figure-container img:hover {
	opacity: 0.8;
    color: #fff;
    transition-duration: .4s;
}
.total-products {
	margin: 10px 60px;
}

@media (max-width: 999px){
	.sub-menu {
		border-top: none;
		font-size: 14px;
	}
	
	.figure-container {
		justify-content:center;
	}
	.figure-container img {
		width:100%;
		padding:0;
	}

}
@media only screen and (max-device-width: 414px) {
	.sub-menu {
		border-top: none;
		font-size: 14px;
		padding: 10px;
		margin: 0 10px;
	}
	.total-products {
		margin:20px 10px;
	}
	.figure-container {
		justify-content:center;
	}
	.figure-container img {
		width:100%;
		padding:0;
	}
}